<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Ceci est le site de config</h2>
    <p>Port du site principale : <%= port %> </p>
    <p>Fichier actuellement présent sur le site : <br>
        <%= liste  %> 
    </p>
</body>
</html>